@font-face {
  font-family: BehindBlueEyes;
  src: url(../font/BehindBlueEyes.otf);
}

body {
  /* background-image: -webkit-linear-gradient(to bottom, #2278a3, #2b6da8, #4660a7, #634e9e, #7d388c);
  background-image: -moz-linear-gradient(to bottom, #2278a3, #2b6da8, #4660a7, #634e9e, #7d388c);
  background-image: -ms-linear-gradient(to bottom, #2278a3, #2b6da8, #4660a7, #634e9e, #7d388c);
  background-image: -o-linear-gradient(to bottom, #2278a3, #2b6da8, #4660a7, #634e9e, #7d388c);
  background-image: linear-gradient(to bottom, #2278a3, #2b6da8, #4660a7, #634e9e, #7d388c); */
  
  /* height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat; */
}

a {
  text-decoration: none;
}

iframe {
  margin: auto;
  display: flex;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
}

h2, h3, h4, h5, p, button {
  color: #2278a3 !important;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1 {
  font-size: 0;
  width: 1px;
  height: 1px;
  display: inline-block;
  overflow: hidden;
  position: absolute!important;
  border: 0!important;
  padding: 0!important;
  margin: 0!important;
  clip: rect(1px,1px,1px,1px);
}

button {
  cursor: pointer;
}

p {
  font-size: 1.3em;
  font-weight: 300;
}

a, span {
  color: inherit;
  text-decoration: none !important;
}

a {
  cursor: pointer;
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.col-align {
  float: none;
  display: inline-block;  
}

.col-align--top {
  vertical-align: top;
}

.col-align--center {
  vertical-align: middle;
}

.col-align--bottom {
  vertical-align: bottom;
}

/* Style the links inside the navigation bar */
.topnav{
  margin: 15px 0;
  position: relative;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
  text-shadow: none;
}

/*primero en el móvil (mobile first)*/
nav {
  padding: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
nav ul li a {
  color: #f2f2f2;
  text-shadow: 2px 2px #717171;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
nav ul li a:hover {
  background-color: #2278a3;
  color: black;
  border-radius: 10px;
}
nav ul li a.active {
  color: white;
}

@media screen and (min-width: 767px) {
  nav ul {
    display: flex;
    justify-content: center;
  }
}


/* When the screen is less than 768 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-device-width: 768px){
  .topnav ul li:not(:last-child)  {display: none;}
  .topnav ul li a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 2em  ;
  }
  .topnav ul li a.icon i {border: none;}
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-device-width: 768px){
  .topnav.responsive {
    position: relative;
    background-color: rebeccapurple;
  }
  .topnav.responsive ul li .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive ul li {
    display: flex;  
    justify-content: center;
    background-color: 717171;
    color: #f2f2f2;
  }
}

.text-white {
  color: white;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.5s;
  z-index: 1000;
}

header.container{
  width: 100%!important;
}

.align-self-center{
  margin-left: auto;
  margin-right: auto;
}

#guarda-superior {
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.5s;
  z-index: 0;
  pointer-events: none
}

.contenedor-home {
  height: 90vh;
}

.hello {
  position: fixed !important;
  left: 9vw !important;
  bottom: 0 !important;
  z-index: 1001;
  transition: 1.5s;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

img.logo{
  transition: 1.5s;
  position: absolute;
  top: 3vh;
  width: 19em;
  right: 5%;
  padding: 0;
}

img.logo.scroll{
  top: 0.5em;
  width: 10em;
}

.hello.hide-left {
  position: fixed !important;
  left: -100vw !important;
}

.estas-en {
  font-size: 2vw;
  color: #FFF;
  position: absolute;
  top: 20vw;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 900;
}

.estas-en img {
  height: 100%;
  width: 100%;
}

.puertas {  
  font-size: 2em;
}

.hashtag {
  font-size: 3em;
  font-family: "BehindBlueEyes", sans-serif;
}

#cursos h3 {
  margin-top: 5vw;
  text-align: center;
  color: #fff;
} 

.recuadro {
  font-size: 1.2vw;
  color: #2b6da8;
  position: absolute;
  text-align: justify;
}

.recuadro.logo{
  margin-top: 35vh;
  height: 20vh;
}

.recuadro.cursos{
  /*margin-top: 5vw;*/
}

.paragraph {
  color: #777;
  background-color: #D9D9D9;
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  font-family: "BehindBlueEyes", sans-serif;
  transition: 0.5s;
  color: #FFFFFF;
  
}

#guarda-inferior {
  position: fixed;
  bottom: 0;
  left: 0;
  transition: 0.5s;
  z-index: 0;
  pointer-events: none
}

.container-metodologia{
  margin: 1em auto;
}

.metodologia {
  color: #2278a3 !important;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 24px;
  line-height: 1.3em;
  padding: 0 5px;
}

#your-station {
  z-index: 100;
  bottom: 0;
  left: 15%;
  position: fixed;
  transition: 0.5s;
  height: 172px;
}

#your-station div {
  z-index: 100;
  float: left;
  font-size: 3vw;
  margin-top: 85px;
  position: relative
}

.social-networks {
  z-index: 100;
  position: fixed;
  right: 15%;
  bottom: 15px;
  transition: 0.5s;
}

.social-networks a {
  display: inline-block;
  width: 55px;
}

.social-networks .contact-design a {
  width: 255px;
  position: fixed;
  bottom: 5px;
  left: 25px;
  color: #ffffff;
}

.social-networks img {
  z-index: 100;
  float: left;
  position: relative;
  transition: 0.5s;
}

.curso{
  min-height: 250px!important;
  border-radius: 5px;
  /*background-color: #f1f0f0;*/
  /*margin: 1vw;*/
}

.curso .image{
  height: 110px;
}

.curso button{
  margin: 1vw auto;
  display: inherit;
  background-color: #718aca;;
  border-color: #718aca;
  color: #f5f5f5 !important;
}

.curso button.active:focus, curso button:hover{
  margin: 1vw auto;
  display: inherit;
  background-color: #596c9e;
}

.curso .texto-curso {
  display: none;
  text-align: justify;
  color: #2278a3;
}

.curso .texto-curso span{
  font-weight: 700;
}
/*.curso .texto-curso#kids-texto{*/
  /*color: #eb6c00;*/
/*}*/
/*.curso .texto-curso#adults-texto{*/
  /*color: #2278a3;*/
/*}*/


.popover-title {
  color: #2278a3;
}

.popover-content {
  color: #777;
}

.contact-form {
  margin-top: 10%;
  margin-bottom: 5%;
}

.contact-form .form-control {
  border-radius: 1rem;
}

.contact-image {
  text-align: center;
}

.contact-image img {
  width: 11%;
  margin-top: -3%;
}

.contact-form form {
  padding: 12% 12% 0;
}

.contact-form form .row {
  /*margin-bottom: -7%;*/
}

.contact-form h3 {
  margin-bottom: 8%;
  margin-top: -10%;
  text-align: center;
  color: #fff;
}

.contact-telefono {
  margin: 5% 10% 10% 10%;
}

.contact-telefono h3, .contact-telefono h2, .contact-telefono h1 {
  text-align: center;
  color: #fff;
}

.contact-telefono i{
  border: none;
}

.contact-form .btnContact {
  width: 50%;
  border: none;
  border-radius: 1rem;
  padding: 1.5%;
  background: #2278a3;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

.btnContactSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  color: #fff;
  background-color: #2278a3;
  border: none;
  cursor: pointer;
}

.iframe-container{
  position: relative;
  width: 100%;
  /* padding-bottom: 56.25%; */
  height: 25vw;
}

.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* Turn off parallax scrolling for tablets */
@media only screen and (max-device-width: 768px) {
  #guarda-superior {
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.5s;
    z-index: 0;
    height: 25%;
    width: 103%;
  }
  
  #guarda-inferior {
    position: fixed;
    bottom: 0;
    left: 0;
    transition: 0.5s;
    z-index: 0;
    height: 25%;
    width: 103%;
  }

  img.logo {
    display: none;
  }

  .hello {
    display: none;
  }
  
  .estas-en {
    font-size: 7vw;
    color: #FFF;
    top: 0;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 900;
  }
  
  .bgimg-1 {
    margin-top: 10vw;
    background-attachment: scroll;
    overflow: paged-x;
    overflow: -webkit-paged-x;
  }

  .content__container__list {
    padding-left: 6em;
  }
  
  .recuadro {
    font-size: 2vw;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  
  .curso .image img{
    width: 100%;
  }
  
  .contact-form {
    margin-top: 30%;
    margin-bottom: 10%;
  }
  
  .contact-form .contact-image {
    display: none;
  }
  
  .contact-telefono {
    margin: 5% 10% 40% 10%;
  }
}



/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 425px) {
  .contenedor-home {
    height: 100vh;
  }

  img.logo {
    display: none;
  }
  
  /* .topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 4vw;
  } */
  
  .bgimg-1 {
    margin-top: 20vw;
    background-attachment: scroll;
  }
  
  #guarda-superior {
    width: auto;
  }
  
  #guarda-inferior {
    width: auto;
  }

  .content__container__list {
    padding-left: 6em;
  }
  
  .social-networks {
    z-index: 100;
    position: fixed;
    left: 0 !important;
    bottom: 0;
    transition: 0.5s;
  }
  
  .social-networks img {
    z-index: 100;
    float: none;
    position: relative;
    transition: 0.5s;
  }
  
  .social-networks .contact-design a {
    width: 100%;
    position: fixed;
    bottom: 5px;
    right: 25px;
    text-align: right;
    color: #ffffff;
  }
  
  .hello {
    display: none;
  }
  
  .estas-en {
    font-size: 5vw;
    color: #FFF;
    top: 15vw;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 900;
  }
  
  /*.estas-en img {*/
    /*height: 60%;*/
    /*width: 60%;*/
  /*}*/
  
  .recuadro {
    font-size: 5vw;
    text-align: justify;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  
  .recuadro.logo {
    margin-bottom: 8%;
  }
  
  
  .contact-form .contact-image {
    display: none;
  }
}


.content {
  /* position: absolute;
  top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  height: 160px;
  overflow:hidden;
  
  font-family: 'Lato', sans-serif;
  font-size: 35px;
  line-height: 45px;
  /* color: #ecf0f1; */
}

.content__container {
  overflow: hidden;
  height: 50px;
  padding: 0 40px;
  width: max-content;
}

.content__container__text {
  font-weight: 600;
  display: inline;
  float: left;
  margin: 0;
}

.content__container__list {
  font-weight: 100;
  margin-top: 0;
  padding-left: 0.5em;
  float: left;
  text-align: left;
  list-style: none;
  
  -webkit-animation-name: change;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.content__container__list __item {
  line-height:50px;
  margin:0;
}

.content__container__list #aprende{
  color: #c4306f;
}

.content__container__list #disfruta{
  color: #e26a44;
}

.content__container__list #hablalo{
  color: #66c1b3;
}
.content__container__list #yourstation{
  color: #7453a6;
}


@-webkit-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-webkit-keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

@-o-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-o-keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

@-moz-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-moz-keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

@keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

