@font-face {
  font-family: BehindBlueEyes;
  src: url(../font/BehindBlueEyes.otf);
}

body {
  background-image: -webkit-linear-gradient(to bottom, #2278a3, #2b6da8, #4660a7, #634e9e, #7d388c);
  background-image: -moz-linear-gradient(to bottom, #2278a3, #2b6da8, #4660a7, #634e9e, #7d388c);
  background-image: -ms-linear-gradient(to bottom, #2278a3, #2b6da8, #4660a7, #634e9e, #7d388c);
  background-image: -o-linear-gradient(to bottom, #2278a3, #2b6da8, #4660a7, #634e9e, #7d388c);
  background-image: linear-gradient(to bottom, #2278a3, #2b6da8, #4660a7, #634e9e, #7d388c);
  
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

iframe {
  margin: auto;
  display: flex;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, p, button {
  color: #777777;
  font-family: 'Montserrat', sans-serif;
}

button {
  cursor: pointer;
}

p {
  font-size: 1.3em;
  font-weight: 300;
}

a, span {
  color: inherit;
  text-decoration: none !important;
}

a {
  cursor: pointer;
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}


/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #2278a3;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: white;
}

.text-white {
  color: white;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.5s;
  z-index: 1000;
}

.align-self-center{
  margin-left: auto;
  margin-right: auto;
}

#guarda-superior {
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.5s;
  z-index: 0;
}

.contenedor-home {
  height: 40vw;
}

.hello {
  position: fixed !important;
  left: 10vw !important;
  bottom: 0 !important;
  z-index: 1001;
  transition: 1.5s;
  max-width: 100%;
  max-height: 100%;
}

.hello.hide-left {
  position: fixed !important;
  left: -100vw !important;
}

.estas-en {
  font-size: 2vw;
  color: #FFF;
  position: absolute;
  top: 20vw;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 900;
}

.estas-en img {
  height: 100%;
  width: 100%;
}

#cursos h2 {
  text-align: center;
  color: #fff;
}

.recuadro {
  font-size: 1.2vw;
  color: #D9D9D9;
  position: absolute;
  text-align: justify;
}

.recuadro.logo{
  margin-top: 22vw;
}

.recuadro.cursos{
  margin-top: 5vw;
}

.paragraph {
  color: #777;
  background-color: #D9D9D9;
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  font-family: "BehindBlueEyes", sans-serif;
  transition: 0.5s;
  color: #FFFFFF;
  
}

#guarda-inferior {
  position: fixed;
  bottom: 0;
  left: 0;
  transition: 0.5s;
  z-index: 0;
}

#your-station {
  z-index: 100;
  bottom: 0;
  left: 15%;
  position: fixed;
  transition: 0.5s;
  height: 172px;
}

#your-station div {
  z-index: 100;
  float: left;
  font-size: 3vw;
  margin-top: 85px;
  position: relative
}

.social-networks {
  z-index: 100;
  position: fixed;
  right: 15%;
  bottom: 15px;
  transition: 0.5s;
}

.social-networks a {
  display: inline-block;
  width: 55px;
}

.social-networks img {
  z-index: 100;
  float: left;
  position: relative;
  transition: 0.5s;
}

.curso{
  min-height: 220px!important;
  border-radius: 5px;
  background-color: #f1f0f0;
  margin: 1vw;
}

.curso .image{
  height: 110px;
}

.curso button{
  margin: 1vw auto;
  display: inherit;
}

.curso .texto-curso {
  display: none;
  text-align: justify;
}

.curso .texto-curso#little-texto{
  color: #a5cd24;
}
.curso .texto-curso#kids-texto{
  color: #eb6c00;
}
.curso .texto-curso#adults-texto{
  color: #2278a3;
}


.popover-title {
  color: #2278a3;
}

.popover-content {
  color: #777;
}

.contact-form {
  margin-top: 10%;
  margin-bottom: 5%;
}

.contact-form .form-control {
  border-radius: 1rem;
}

.contact-image {
  text-align: center;
}

.contact-image img {
  width: 11%;
  margin-top: -3%;
}

.contact-form form {
  padding: 12% 12% 0;
}

.contact-form form .row {
  /*margin-bottom: -7%;*/
}

.contact-form h3 {
  margin-bottom: 8%;
  margin-top: -10%;
  text-align: center;
  color: #fff;
}

.contact-telefono {
  margin: 5% 10% 10% 10%;
}

.contact-telefono h3, .contact-telefono h2 {
  text-align: center;
  color: #fff;
}

.contact-form .btnContact {
  width: 50%;
  border: none;
  border-radius: 1rem;
  padding: 1.5%;
  background: #2278a3;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

.btnContactSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  color: #fff;
  background-color: #2278a3;
  border: none;
  cursor: pointer;
}

.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* Turn off parallax scrolling for tablets */
@media only screen and (max-device-width: 768px) {
  #guarda-superior {
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.5s;
    z-index: 0;
    height: 25%;
    width: 103%;
  }
  
  #guarda-inferior {
    position: fixed;
    bottom: 0;
    left: 0;
    transition: 0.5s;
    z-index: 0;
    height: 25%;
    width: 103%;
  }
  
  .hello {
    display: none;
  }
  
  .estas-en {
    font-size: 7vw;
    color: #FFF;
    top: 0;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 900;
  }
  
  .bgimg-1 {
    margin-top: 10vw;
    background-attachment: scroll;
    overflow: paged-x;
    overflow: -webkit-paged-x;
  }
  
  
  .recuadro {
    font-size: 2vw;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  
  .curso .image img{
    width: 100%;
  }
  
  .contact-form {
    margin-top: 30%;
    margin-bottom: 50%;
  }
  
  .contact-form .contact-image {
    display: none;
  }
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 425px) {
  
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 4vw;
  }
  
  .bgimg-1 {
    margin-top: 20vw;
    background-attachment: scroll;
  }
  
  #guarda-superior {
    width: auto;
  }
  
  #guarda-inferior {
    width: auto;
  }
  
  .social-networks {
    z-index: 100;
    position: fixed;
    left: 0 !important;
    bottom: 0;
    transition: 0.5s;
  }
  
  .social-networks img {
    z-index: 100;
    float: none;
    position: relative;
    transition: 0.5s;
  }
  
  .hello {
    display: none;
  }
  
  .estas-en {
    font-size: 5vw;
    color: #FFF;
    top: 15vw;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 900;
  }
  
  .estas-en img {
    height: 60%;
    width: 60%;
  }
  
  .recuadro {
    font-size: 3vw;
    text-align: justify;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  
  
  .contact-form .contact-image {
    display: none;
  }
}
